<?xml version="1.0"?>
<!--
/**
* Skill Up.
*
* @category  SkillUp
* @package   SkillUp_CarsGraphQl
* @author    SkillUp
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="SkillUp_CarsGraphQL" >
        <sequence>
            <module name="Magento_Customer"/>
            <module name="Magento_Authorization"/>
            <module name="Magento_GraphQl"/>
        </sequence>
    </module>
</config>
